/*
- Mobile: 375px
- Desktop: 1440px

## Typography
- Font size (paragraph): 18px
- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
*/

/*************************************************COLORS*************************************************/
:root {
    /*Primary*/
    --soft-blue: #8BACDA;
    --cyan: #00FFF7;

    /*Neutral*/
    --very-dark-blue-main: #0D192B;
    --very-dark-blue-card-bg: #14253D;
    --very-dark-blue-line: #2F415B;
    --white: #fff;
}

/*************************************************SELECTORS*************************************************/

a {
    color: var(--white);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--cyan);
}
html, body {
    height: 100%;
}
body{
    background-color: var(--very-dark-blue-main);
    font-size: 1.125rem;
    font-family: Outfit, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
}

h1 {
    color: var(--white);
    font-weight: 600;
}

hr {
    border: 1px solid var(--very-dark-blue-line);
    border-top: 0;
}

p {
    color: var(--soft-blue);
    font-weight: 300;
}



/*************************************************CLASS SELECTORS*************************************************/
.arrange-text {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    border: 1px solid var(--white);
    margin-right: 0.5rem;
    width: 10%;
}

.box-content {
    padding: 20px;
}

.container {
    background-color: var(--very-dark-blue-card-bg);
    border-radius: 20px;
    margin: 0 auto;
    width: 25%;
}

.deadline {
    color: var(--soft-blue);
    font-weight: 400;
}

.equilibrium {
    border-radius: 10px;
    display: block;
    width: 100%;
}

.eth {
    color: var(--cyan);
    font-weight: 600;
}

.eth, .deadline {
    margin-left: .5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 901px) and (max-width: 1110px) {
    .container {
        width: 35%;
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 80%;
    }
}
